# dev
.idea/
venv/
.venv/
__pychache__.py
__pychache__
VERSION
.coverage
.coverage.*

# build
dist/*.whl
dist/*.tar.gz
oxl_ansible_executor.egg-info/
docs/build/
docs/source/_static/img/*.png
docs/source/_static/img/*.jpg
